@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary-color: red;
  --btn-bg-color: rgb(254,24,0);
  --header-height: 3rem;
  --section-title-pb: 2rem;
  --container-padding: 1rem;
  --color-white: #dfdfdf;
  --background-color: #000;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--background-color);
  color: #ababab;
  font-size: .78rem;
}

h1,
h2,
h3,
h4,
h5,
a {
  color: var(--color-white);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
  font-family: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

.red-clr {
  color: #f00;
}

.btn {
  display: inline-block;
  background-color: var(--btn-bg-color);
  text-transform: capitalize;
  padding: .6rem 1.5rem;
  font-size: .8rem;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: .25s ease;
  transition: .25s ease;
  -webkit-clip-path: polygon(0% 0px, 100% 0%, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0px 100%, 0px 0);
          clip-path: polygon(0% 0px, 100% 0%, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0px 100%, 0px 0);
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #fff;
  color: red;
}

.sub-title {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: .72rem;
  margin-bottom: .4rem;
}

.description {
  line-height: 1.85;
}

.section {
  padding: 3rem 0 3rem;
}

.header {
  --transition: .3s ease;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.header.animation {
  height: var(--header-height);
  background-color: inherit;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: var(--header-height);
  z-index: inherit;
}

.nav__logo {
  font-size: 1.27rem;
  font-weight: 600;
  z-index: inherit;
}

.nav__menu-icon-container {
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 14px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  z-index: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav__menu-icon {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-white);
}

.nav__menu-icon:nth-of-type(1) {
  top: 0;
}

.nav__menu-icon:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .1s;
  transition: .1s;
}

.nav__menu-icon:nth-of-type(3) {
  bottom: 0;
}

.nav__menu-icon-container.animation .nav__menu-icon:nth-of-type(2) {
  opacity: 0;
}

.nav__menu-icon-container.animation .nav__menu-icon:nth-of-type(1) {
  -webkit-animation: mspan1 .3s forwards;
          animation: mspan1 .3s forwards;
}

.nav__menu-icon-container.animation .nav__menu-icon:nth-of-type(3) {
  -webkit-animation: mspan3 .3s forwards;
          animation: mspan3 .3s forwards;
}

.nav__menu-icon-container.animation1 .nav__menu-icon:nth-of-type(1) {
  -webkit-animation: mspan1-1 .3s forwards;
          animation: mspan1-1 .3s forwards;
}

.nav__menu-icon-container.animation1 .nav__menu-icon:nth-of-type(3) {
  -webkit-animation: mspan3-1 .3s forwards;
          animation: mspan3-1 .3s forwards;
}

@-webkit-keyframes mspan1 {
  50% {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
}

@keyframes mspan1 {
  50% {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
}

@-webkit-keyframes mspan3 {
  50% {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
}

@keyframes mspan3 {
  50% {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
}

@-webkit-keyframes mspan1-1 {
  0% {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  50% {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(0);
            transform: translateY(-50%) rotate(0);
  }
  100% {
    top: 0;
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

@keyframes mspan1-1 {
  0% {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  50% {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(0);
            transform: translateY(-50%) rotate(0);
  }
  100% {
    top: 0;
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

@-webkit-keyframes mspan3-1 {
  0% {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
  50% {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(0);
            transform: translateY(-50%) rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

@keyframes mspan3-1 {
  0% {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
  50% {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(0);
            transform: translateY(-50%) rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

.nav__menu {
  position: fixed;
  width: 100vw;
  height: 0;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  overflow: hidden;
  z-index: 99;
}

.nav__menu.nm-animation {
  height: 368px;
}

.nav__list {
  padding: var(--header-height) var(--container-padding) 1rem;
}

.nav__link {
  text-transform: uppercase;
  font-size: .83rem;
  font-weight: 500;
  padding: 1rem 0;
  display: block;
}

.nav__link:hover {
  color: var(--primary-color);
}

.home__container {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__container .container {
  width: 100%;
}

.home__content {
  position: relative;
  max-width: 500px;
  z-index: 3;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.home__content > * {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.home__title {
  text-transform: capitalize;
  font-size: calc(2rem + 1vw);
  margin-bottom: 1rem;
}

.homeSwiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.homeSwiper .swiper-slide {
  height: 100%;
}

.homeSwiper .swiper-slide:nth-of-type(1) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url("../images/home-bg-1.jpg") no-repeat center/cover;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../images/home-bg-1.jpg") no-repeat center/cover;
}

.homeSwiper .swiper-slide:nth-of-type(2) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url("../images/home-bg-2.jpg") no-repeat center/cover;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../images/home-bg-2.jpg") no-repeat center/cover;
}

.homeSwiper .swiper-slide:nth-of-type(3) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url("../images/home-bg-3.jpg") no-repeat center/cover;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../images/home-bg-3.jpg") no-repeat center/cover;
}

.homeSwiper .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border-radius: 2px;
  background-color: #fff;
  margin: 0 7px !important;
}

.swiper-pagination-bullet {
  background-color: #fff;
}

.home__link {
  pointer-events: auto;
  -webkit-user-select: initial;
     -moz-user-select: initial;
      -ms-user-select: initial;
          user-select: initial;
}

.about__container,
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__container {
  padding-top: 3rem;
}

.about__top {
  padding: 0 var(--container-padding);
}

.about__img-container {
  --px: -20px;
  position: relative;
  margin: 0 auto 3rem;
  max-width: 350px;
}

.about__img-container::before,
.about__img-container::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 140px;
  background-color: var(--primary-color);
  z-index: -1;
}

.about__img-container::after {
  bottom: var(--px);
  right: var(--px);
}

.about__img-container::before {
  top: var(--px);
  left: var(--px);
}

.about__img {
  display: block;
}

.about__content {
  row-gap: 1rem;
}

.section-title {
  text-transform: capitalize;
  font-size: calc(1.7rem + 1vw);
}

.about__benefits {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.about__benefit-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .4rem;
          column-gap: .4rem;
  margin-bottom: .7rem;
}

.about__benefit-title-container .about__benefit-title {
  text-transform: capitalize;
  font-size: .85rem;
}

.arrow {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--primary-color);
}

.section__title-container-1 {
  position: relative;
  margin-bottom: 1.5rem;
}

.section__title-container-1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
}

.stsc1 {
  position: relative;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .3rem .7rem;
  margin: 0 auto;
  background-color: var(--background-color);
  z-index: 3;
}

.section__title-1 {
  text-transform: capitalize;
  font-size: 1.25rem;
  color: var(--primary-color);
}

.gym__features-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 390px;
  margin-inline: auto;
}

.gym__features-card:hover .gym__features-img {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.gym__features-img-container,
.gym__features-data {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.gym__features-img-container {
  overflow: hidden;
}

.gym__features-img {
  display: block;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.gym__features-data {
  text-align: center;
  padding: 1.5rem 1rem;
  background-color: #161619;
}

.gym__features-icon {
  -webkit-filter: invert(1);
          filter: invert(1);
  display: inline-block;
  width: 4.8rem;
  margin-bottom: .5rem;
}

.gym__features-data-title {
  color: var(--primary-color);
  font-size: .9rem;
  margin-bottom: .5rem;
}

.gym__features-description {
  margin-bottom: 1rem;
}

.pricing__card .section__title-container,
.pricing__description {
  margin-bottom: 1rem;
}

.pricing__container {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
}

.pricing__card-container {
  margin-inline: auto;
  max-width: 400px;
  width: 100%;
}

.pricing__card {
  -webkit-clip-path: polygon(0% 0px, 100% 0%, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0px 100%, 0px 0);
          clip-path: polygon(0% 0px, 100% 0%, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0px 100%, 0px 0);
}

.pricing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}

.pricing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .3rem;
          column-gap: .3rem;
}

.pricing__btn {
  margin-top: 1.5rem;
}

.pricing__card-container:nth-of-type(2) .pricing__card,
.pricing__card-container:nth-of-type(3) .pricing__card {
  text-align: center;
  padding: 2rem 1rem 1rem;
  background-color: #161619;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.pricing__card-container:nth-of-type(2) .pricing__card .pricing__list,
.pricing__card-container:nth-of-type(3) .pricing__card .pricing__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing__card-container:nth-of-type(2) .pricing__card:hover,
.pricing__card-container:nth-of-type(3) .pricing__card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #1e1e28;
}

.pricing__card-title {
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: .5rem;
}

.pricing__bill {
  font-size: 1.2rem;
  color: var(--color-white);
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.pricing__bill span {
  font-size: 1.9rem;
}

.trainers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.2rem;
}

.trainers__content {
  position: relative;
  overflow-y: hidden;
  max-width: 444px;
  max-height: 360px;
  margin-inline: auto;
}

.trainers__content:hover .trainers__data {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.trainers__content:hover .trainers__social-media {
  opacity: 1;
  pointer-events: auto;
}

.trainers__data {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem var(--container-padding) 0;
  -webkit-transform: translateY(3.7rem);
          transform: translateY(3.7rem);
  background-color: #161619;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.trainer__status {
  font-size: .72rem;
}

.trainer__name {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.trainers__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.3rem;
          column-gap: 1.3rem;
  margin-top: .7rem;
  height: 3.5rem;
  border-top: 2px solid #9696a0;
  opacity: 0;
  pointer-events: none;
}

.trainers__content-link {
  font-size: 1.15rem;
}

.trainers__content-link:hover {
  color: var(--btn-bg-color);
}

.discount {
  height: 45vh;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(0, 0, 0, 0.5))), url("../images/banner-bg.jpg") no-repeat center/cover;
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.5)), url("../images/banner-bg.jpg") no-repeat center/cover;
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discount__container {
  text-align: center;
}

.discount__container .section__title-container {
  margin-bottom: .3rem;
}

.discount__container .section-title {
  font-weight: 600;
  text-transform: uppercase;
}

.discount__p {
  margin-bottom: 1rem;
}

.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.5rem;
}

.testimonials__container .section__title-container {
  margin-bottom: .4rem;
}

.testimonials__p {
  margin-bottom: 1rem;
}

.testimonialsSwiper {
  width: 100%;
  max-width: 360px;
  padding-bottom: 2rem;
}

.testimonialsSwiper .swiper-slide {
  background-color: #161619;
  padding: 1.05rem 1.55rem .3rem;
  -webkit-clip-path: polygon(0% 0px, 100% 0%, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0px 100%, 0px 0);
          clip-path: polygon(0% 0px, 100% 0%, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0px 100%, 0px 0);
}

.testimonialsSwiper .swiper-pagination {
  bottom: 0;
}

.testimonialsSwiper .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  border-radius: 1px;
  margin: 0 3px !important;
}

.testimonials__swiper-slide-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__swiper-slide-p {
  margin-bottom: .3rem;
}

.testimonials__img {
  display: block;
  width: 50px;
  border-radius: 50%;
  margin-right: .7rem;
}

.testimonials__name {
  text-transform: capitalize;
  font-size: 1rem;
}

.testimonials__status {
  font-size: .67rem;
}

.testimonials-quote {
  font-size: 4.75rem;
  margin-left: auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.blog__article {
  background-color: #161619;
}

.blog__img-container {
  height: 28vh;
  overflow-y: hidden;
}

.blog__img {
  display: block;
}

.blog__article-bottom {
  padding: 1rem;
}

.blog__date-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  font-size: .68rem;
  margin-bottom: .7rem;
}

.blog__title {
  font-size: 1.15rem;
  margin-bottom: .5rem;
}

.blog__p {
  margin-bottom: 1rem;
}

.blogsSwiper {
  padding-bottom: 3rem;
}

.blogsSwiper .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  border-radius: 1px;
  margin: 0 3px !important;
}

.footer {
  padding: 3rem 0 1rem;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
}

.footer__content {
  text-align: center;
}

.footer__title {
  text-transform: capitalize;
  font-size: .8rem;
  margin-bottom: 1.1rem;
}

.footer__item {
  text-transform: capitalize;
  font-size: .75rem;
}

.footer__list {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
}

.footer__content:nth-of-type(2) span {
  display: inline-block;
  margin-left: .28rem;
}

.footer__content:nth-of-type(3) .footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: .35rem;
          column-gap: .35rem;
}

.footer__content:nth-of-type(3) .footer__item span {
  font-size: 1rem;
}

.footer__socials {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: .6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__input {
  width: 90%;
  margin: 0 auto;
  padding: .5rem .8rem;
  background-color: #161619;
  border-radius: 2%;
  color: #ddd;
}

.footer__newsletter-btn {
  margin-top: .8rem;
}

@media screen and (min-width: 360px) {
  .footer__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footer__content {
    text-align: left;
  }
  .footer__content:nth-of-type(3) .footer__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer__input {
    margin: 0;
  }
  .footer__form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__socials {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media screen and (min-width: 600px) {
  .trainers__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
  .testimonialsSwiper {
    max-width: 700px;
  }
}

@media screen and (min-width: 768px) {
  .nav__menu-icon-container {
    display: none;
  }
  .nav__menu {
    position: initial;
    width: auto;
    height: auto;
    background-color: transparent;
  }
  .nav__list {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .section {
    padding: 5.5rem 0;
  }
  body {
    font-size: .82rem;
  }
  .home__sub-title {
    font-size: .82rem;
  }
  .home__title {
    font-size: 3.5rem;
  }
  .home__content {
    max-width: 650px;
  }
  .homeSwiper .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
  .btn {
    font-size: .95rem;
    font-weight: 700;
    padding: .65rem 1.55rem;
  }
  .about__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .about__content {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  .about__top {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .about__img-container {
    max-width: 100%;
    margin: 0;
  }
  .gym__features-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gym__features-img-container,
  .gym__features-data {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .gym__features-data {
    padding-top: 1rem;
    padding-bottom: .5rem;
  }
  .gym__features-icon {
    width: 2.3rem;
  }
  .gym__features-title {
    margin-bottom: 0;
  }
  .gym__features-btn {
    padding: .5rem 1.3rem;
    font-size: .75rem;
  }
  .gym__features-card:nth-of-type(2) .gym__features-img-container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .pricing__container {
    gap: 1.2rem;
    justify-items: center;
  }
  .pricing__card-container {
    margin-inline: 0;
  }
  .pricing__card-container:nth-of-type(1) {
    max-width: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / span 1 / span 2;
  }
  .pricing__card-container:nth-of-type(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / span 1 / span 1;
  }
  .pricing__card-container:nth-of-type(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / span 1 / span 1;
  }
  .pricing__card-container:nth-of-type(2) .pricing__card,
  .pricing__card-container:nth-of-type(3) .pricing__card {
    padding: 2.5rem 1rem;
  }
  .pricing__bill span {
    font-size: 2.4rem;
  }
  .pricing__list {
    row-gap: 2rem;
  }
  .pricing__btn {
    margin-top: 2rem;
  }
  .testimonials__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1.2rem;
            column-gap: 1.2rem;
  }
  .testimonials__card {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  .testimonialsSwiper {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .testimonialsSwiper .swiper-pagination-bullet,
  .blogsSwiper .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 0 5px !important;
  }
  .footer {
    padding-bottom: 3rem;
  }
  .footer__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .nav__list {
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
  .about__content {
    row-gap: 0;
  }
  .about__content > * {
    margin-bottom: 1.8rem;
  }
  .about__content .section__title-container {
    margin-bottom: 1.2rem;
  }
  .about__benefits {
    gap: 1.8rem;
  }
  .about__btn {
    margin-bottom: 0;
  }
  .section__title-1 {
    font-size: 1.55rem;
  }
  .stsc1 {
    padding: .4rem .8rem;
  }
  .gym__features-img-container,
  .gym__features-data {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    height: 254px;
  }
  .gym__features-icon {
    width: 5rem;
  }
  .gym__features-btn {
    padding: .6rem 1.4rem;
  }
  .pricing__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .trainers__container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .trainers__content {
    max-height: 100%;
    max-width: 100%;
    margin-inline: 0;
  }
  .trainer__name {
    margin-bottom: 10px;
  }
  .trainers__data {
    -webkit-transform: translateY(3.3rem);
            transform: translateY(3.3rem);
    padding-top: 1.5rem;
  }
  .testimonials__card {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .testimonialsSwiper {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  .testimonials-quote {
    font-size: 4rem;
  }
  .footer__container {
    -ms-grid-columns: .22fr .24fr .24fr .3fr;
        grid-template-columns: .22fr .24fr .24fr .3fr;
  }
}

@media screen and (min-width: 1200px) {
  .pricing__container {
    gap: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */